body{
  background-color:#aad8d3;
}

hr{
  border-style:none;
  border-top-style:dotted;
  border-color:grey;
  border-width:5px;
  width:5%;
}

h1{
  color:#794c74
}
h3{
  color:#794c74
}
